<center>
Cliquez sur une lettre :
{{#each listeInitiales}}
	<a href="/repertoirePilote/{{this.initiale}}">{{this.initiale}}</a>
{{/each}}
</center>
<br/>
<center>
{{#each listePiloteParNom}}
    <div class="listerPilotes">
        <a href="/repertoirePilote/detailPilote/{{this.PILNUM}}">
            <img src="/image/pilote/{{this.PHOADRESSE}}" width="100" alt="pilote"/>
        </a>
        <br/>
        {{this.PILPRENOM}}
        <br/>
        {{this.PILNOM}}
    </div>
{{/each}}
</center>

<br class="myboth" />
